<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeMartFan - About</title>
    <link rel="icon" type="image/x-icon" href="../assets/susti 56.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="../styles/styles.css" rel="stylesheet">
    <link href="../styles/mobileStyles.css" rel="stylesheet">
    <link href="../styles/tabletStyles.css" rel="stylesheet">
</head>
<body>
  <Header>
    <!--  Navbar-->
        <nav class="contenedor-padre">
            <div class="icono-navbar col-4">
                <a href="../index.html"> <img src="../assets/Logo_PokeMartFan.jpg"  alt="Logo_PokeMartFan" width="200" height="100"> </a>
            </div>

            <div>
              <img class="menuIcono" onclick="accion()" src ="../assets/list.svg" alt="Icono_Menu"/>
          </div>
     
            <div class="contenedor-links col-8">
                <ul>
                <a class="elementos-navbar desaparece" href="../index.html">Home</a>
        
                <a class="elementos-navbar desaparece" href="./about.html">Acerca de</a>
        
                <a class= "elementos-navbar desaparece" href="./products.html">Productos</a>
         
                <a class= "elementos-navbar desaparece" href="./contact.html">Contacto</a>
            
                <a class="elementos-navbar desaparece" href="./rrss.html">RRSS</a>
                </ul>
            </div>
        </nav>

        <script>
          function accion(){
              var ancla = document.getElementsByClassName('elementos-navbar');
              for(var i = 0; i < ancla.length; i++){
                  ancla[i].classList.toggle('desaparece');
              }
          }
          </script>
  
  </Header>


<main>
       
<div class="sobreNosotros">
<!--Parrafo descriptivo -->
<section class="nosotrosParrafo">
  <h2 class="preNosotros">Sobre Nosotros</h2>
  <p class="textoNosotros">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, minima? Reiciendis esse rem sint dolore praesentium voluptatem nemo placeat aliquid ipsum voluptas, debitis nostrum unde inventore aperiam, accusantium dignissimos repellendus!
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, minima? Reiciendis esse rem sint dolore praesentium voluptatem nemo placeat aliquid ipsum voluptas, debitis nostrum unde inventore aperiam, accusantium dignissimos repellendus!
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, minima? Reiciendis esse rem sint dolore praesentium voluptatem nemo placeat aliquid ipsum voluptas, debitis nostrum unde inventore aperiam, accusantium dignissimos repellendus!
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, minima? Reiciendis esse rem sint dolore praesentium voluptatem nemo placeat aliquid ipsum voluptas, debitis nostrum unde inventore aperiam, accusantium dignissimos repellendus!</p>
  </section>

<!-- Video de Muestra de actividades-->

  <aside>
    <iframe class="yt" src="https://www.youtube.com/embed/6wodVMskF4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </aside>  
</div>

<!-- Slider del equipo de trabajo -->
<section class="slider">
  <h2 class="preSlider">Nuestro Equipo</h2>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/g09izrmx.jpg" class="d-block w-100" alt="Staff Members">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tituloSlide">Foto de nuestro Staff</h5>
          <p class="parrafoSlide">Parte de nuestro equipo en eventos de Pokemon</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/slide2.webp" class="d-block w-100" alt="Staff Completo">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tituloSlide">Foto de nuestro Equipo</h5>
          <p class="parrafoSlide">Participando en el Dia de la Comunidad de Pokemon Go Chile</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/slide1.webp" class="d-block w-100" alt="Staff Members 2">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="tituloSlide">Foto de nuestro Equipo</h5>
          <p class="parrafoSlide">Como Jueces en las Regionales 2019 en Chile</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
</div>
       
</main>





<!--footer-->

<footer class="contenedor-footer">
  <div class="elementos-footer list-inline mt-2 text-center">
      <p >Creado por Dpad Services®.</p>
  </div>

  <div class="lista-iconos">
      <ol class="list-inline mt-2">
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/facebook.svg" alt="PokeMartFan_Facebook"/></li>
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/twitter.svg" alt="PokeMartFan_Twitter"/></li>
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/instagram.svg" alt="PokeMartFan_Instagram"/></li>
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/youtube.svg" alt="PokeMartFan_Youtube"/></li>
      </ol>
  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
      </html>