<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeMartFan - Products</title>
    <link rel="icon" type="image/x-icon" href="../assets/susti 56.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="../styles/styles.css" rel="stylesheet">
    <link href="../styles/mobileStyles.css" rel="stylesheet">
    <link href="../styles/tabletStyles.css" rel="stylesheet">
</head>
<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v14.0" nonce="Nw4OY6xO"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<Header>
  <!--  Navbar-->
      <nav class="contenedor-padre">
          <div class="icono-navbar col-4">
              <a href="../index.html"> <img src="../assets/Logo_PokeMartFan.jpg"  alt="Logo_PokeMartFan" width="200" height="100"> </a>
          </div>

          <div>
            <img class="menuIcono" onclick="accion()" src ="../assets/list.svg" alt="Icono_Menu"/>
        </div>
   
        <div class="contenedor-links col-8">
          <ul>
          <a class="elementos-navbar desaparece" href="../index.html">Home</a>
  
          <a class="elementos-navbar desaparece" href="./about.html">Acerca de</a>
  
          <a class= "elementos-navbar desaparece" href="./products.html">Productos</a>
   
          <a class= "elementos-navbar desaparece" href="./contact.html">Contacto</a>
      
          <a class="elementos-navbar desaparece" href="./rrss.html">RRSS</a>
          </ul>
      </div>
      </nav>

      <script>
        function accion(){
            var ancla = document.getElementsByClassName('elementos-navbar');
            for(var i = 0; i < ancla.length; i++){
                ancla[i].classList.toggle('desaparece');
            }
        }
        </script>

</Header>

    <main>
      <div class="cardProductos">
        <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/Pokémon-SleepingBulbasaur-04.jpg" class="card-img-top imgProducto" alt="peluche-bulbasaur">
            <div class="card-body text-center">
              <p class="card-text"> Peluche de Bulbasaur $10 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/peluche-pokemon-riolu.jpg" class="card-img-top imgProducto" alt="peluche-riolu">
            <div class="card-body text-center">
              <p class="card-text"> Peluche de Riolu $10 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/peluche-pokemon-n-09-x-and-y-charmanderhitokage-85-17043-MLM20131182550_072014-F.jpg" class="card-img-top imgProducto" alt="peluche-charmander">
            <div class="card-body text-center">
              <p class="card-text"> Peluche de Charmander $10 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>
    
          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/716e64RepZL._SY355_.jpg" class="card-img-top imgProducto" alt="peluche-squirtle">
            <div class="card-body text-center">
              <p class="card-text"> Peluche de Squirtle $10 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/pikachuplush.jpg" class="card-img-top imgProducto" alt="peluche-pikachu">
            <div class="card-body text-center">
              <p class="card-text"> Peluche de Pikachu $20 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/13718238_1062235663826085_1084112051_n.jpg" class="card-img-top imgProducto" alt="polera-equipo-valor">
            <div class="card-body text-center">
              <p class="card-text"> Polera Talla M Hombre Equipo Valor $40 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/polera instinct.png" class="card-img-top imgProducto" alt="polera-equipo-instinct">
            <div class="card-body text-center">
              <p class="card-text"> Polera Talla M Hombre Equipo Instinct $40 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/mystic.webp" class="card-img-top imgProducto" alt="polera-equipo-mystic">
            <div class="card-body text-center">
              <p class="card-text"> Polera Talla M Hombre Equipo Mystic $40 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>

          <div class="card mb-3" style="width: 18rem;">
            <img src="../assets/Sustituto.jpg" class="card-img-top imgProducto" alt="peluche_sustituto">
            <div class="card-body text-center">
              <p class="card-text"> Peluche de Sustituto $60 USD
            </p>
                <a href="#" class="btn btn-primary">Comprar Producto</a>
              
            </div>
          </div>
      </div>
    </main>

<!--footer-->
<footer class="contenedor-footer">
  <div class="elementos-footer list-inline mt-2 text-center">
      <p >Creado por Dpad Services®.</p>
  </div>

  <div class="lista-iconos">
      <ol class="list-inline mt-2">
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/facebook.svg" alt="PokeMartFan_Facebook"/></li>
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/twitter.svg" alt="PokeMartFan_Twitter"/></li>
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/instagram.svg" alt="PokeMartFan_Instagram"/></li>
      <li class="list-inline-item"> <img class="iconos-footer" src ="../assets/youtube.svg" alt="PokeMartFan_Youtube"/></li>
      </ol>
  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
      </html>
